<div nz-row [nzGutter]="[32, 16]">
  <div nz-col nzXs="24" nzMd="12">
    <h1 nz-typography>
      {{ "_pageContactTitle" | translate }}
    </h1>

    <p nz-typography class="app-text-justify">
      {{ "_pageContactIntro" | translate }}
    </p>
  </div>

  <div nz-col nzXs="24" nzMd="12">
    <form
      nz-row
      nz-form
      class="login-form"
      [formGroup]="formGroup"
      (ngSubmit)="onSubmit()"
      [nzGutter]="[16, 0]"
    >
      <div nz-col nzXs="24" nzLg="12">
        <nz-form-item>
          <div nz-flex nzVertical>
            <nz-form-label nzNoColon nzFor="name">
              {{ "Name" | translate }}
            </nz-form-label>

            <nz-form-control>
              <input nz-input formControlName="name" id="name" />
            </nz-form-control>
          </div>
        </nz-form-item>
      </div>

      <div nz-col nzXs="24" nzLg="12">
        <nz-form-item>
          <div nz-flex nzVertical>
            <nz-form-label nzRequired nzNoColon nzFor="email">
              {{ "Email" | translate }}
            </nz-form-label>

            <nz-form-control [nzErrorTip]="'Invalid format' | translate">
              <input nz-input formControlName="email" id="email" />
            </nz-form-control>
          </div>
        </nz-form-item>
      </div>

      <div nz-col nzXs="24">
        <nz-form-item>
          <div nz-flex nzVertical>
            <nz-form-label nzRequired nzNoColon nzFor="message">
              {{ "Message" | translate }}
            </nz-form-label>

            <nz-form-control [nzErrorTip]="'Please fill it out' | translate">
              <textarea nz-input formControlName="message" rows="3"></textarea>
            </nz-form-control>
          </div>
        </nz-form-item>
      </div>

      <div nz-col nzXs="24">
        <button nz-button nzType="primary" nzShape="round" nzSize="large">
          {{ "Send" | translate }}
          <span nz-icon nzType="send" class="app-animate-btn-icon"></span>
        </button>
      </div>
    </form>
  </div>
</div>
