// View all variables: https://github.com/NG-ZORRO/ng-zorro-antd/blob/master/components/style/themes/default.less

@font-size-base: 17px;
@layout-header-background: @layout-body-background;
@layout-header-padding: 0;
@menu-item-active-border-width: 0; // Applies to the right border only.
@menu-bg: transparent;
@menu-horizontal-line-height: @line-height-base !important;
@menu-item-padding-horizontal: 0;

:root {
  --app-width-body: 1200px;
  --app-primary-color: @primary-color;
  --app-text-color: @text-color;
  
  @media (max-width: (1200px + 100px)) {
    --app-width-body: calc(100vw - 100px);
  }

  @media (max-width: (@screen-xs + 50px)) {
    --app-width-body: calc(100vw - 50px);
  }
}

html.cdk-global-scrollblock {
  overflow-y: visible !important; // Fix for nz-carousel overlay.
}

body {
  background-color: @layout-body-background;
  overflow-x: hidden;
  width: 100vw;
  height: 100%;
}

.app-middle {
  display: flex;
  align-items: center;
  justify-content: center;
}

.app-text {
  &-center      { text-align: center; }
  &-justify     { text-align: justify; }
  &-bold        { font-weight: bold; }
  &-white-space { white-space: pre-wrap; }

  &-ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &-lg  { font-size: @font-size-lg; } // @font-size-base + 2px
  &-sm  { font-size: @font-size-sm; } // 12px  floor((@font-size-base / 1.3))
  &-xs  { font-size: (@font-size-base - 2); }
  &-xss { font-size: (@font-size-base - 4); }
}

.app-no-space {
  margin: 0 !important; 
  padding: 0 !important;

  &-top     { margin-top: 0 !important; padding-top: 0 !important; }
  &-right   { margin-right: 0 !important; padding-right: 0 !important; }
  &-bottom  { margin-bottom: 0 !important; padding-bottom: 0 !important; }
  &-left    { margin-left: 0 !important; padding-left: 0 !important; }
}

.app-padding {
  padding: @padding-md;

  &-lg  { padding: @padding-lg; }   // Containers.
  &-md  { padding: @padding-md; }   // Small containers and buttons.
  &-sm  { padding: @padding-sm; }   // Form controls and items.
  &-xs  { padding: @padding-xs; }   // Small items.
  &-xss { padding: @padding-xss; }  // More small.
}

.app-padding-horizontal {
  padding-right: @padding-md;
  padding-left: @padding-md;

  &-lg  { padding-right: @padding-lg; padding-left: @padding-lg; }
  &-md  { padding-right: @padding-md; padding-left: @padding-md; }
  &-sm  { padding-right: @padding-sm; padding-left: @padding-sm; }
  &-xs  { padding-right: @padding-xs; padding-left: @padding-xs; }
  &-xss { padding-right: @padding-xss; padding-left: @padding-xss; }
}

.app-padding-vertical {
  padding-top: @padding-md;
  padding-bottom: @padding-md;

  &-lg  { padding-top: @padding-lg; padding-bottom: @padding-lg; }
  &-md  { padding-top: @padding-md; padding-bottom: @padding-md; }
  &-sm  { padding-top: @padding-sm; padding-bottom: @padding-sm; }
  &-xs  { padding-top: @padding-xs; padding-bottom: @padding-xs; }
  &-xss { padding-top: @padding-xss; padding-bottom: @padding-xss; }
}

.app-padding-top {
  padding: @padding-md;

  &-lg  { padding-top: @padding-lg; }
  &-md  { padding-top: @padding-md; }
  &-sm  { padding-top: @padding-sm; }
  &-xs  { padding-top: @padding-xs; }
  &-xss { padding-top: @padding-xss; }
}

.app-padding-right {
  padding-right: @padding-md;

  &-lg  { padding-right: @padding-lg; }
  &-md  { padding-right: @padding-md; }
  &-sm  { padding-right: @padding-sm; }
  &-xs  { padding-right: @padding-xs; }
  &-xss { padding-right: @padding-xss; }
}

.app-padding-bottom {
  padding-bottom: @padding-md;

  &-lg  { padding-bottom: @padding-lg; }
  &-md  { padding-bottom: @padding-md; }
  &-sm  { padding-bottom: @padding-sm; }
  &-xs  { padding-bottom: @padding-xs; }
  &-xss { padding-bottom: @padding-xss; }
}

.app-padding-left {
  padding-left: @padding-md;

  &-lg  { padding-left: @padding-lg; }
  &-md  { padding-left: @padding-md; }
  &-sm  { padding-left: @padding-sm; }
  &-xs  { padding-left: @padding-xs; }
  &-xss { padding-left: @padding-xss; }
}

[nz-button]:has(.app-animate-btn-icon) {
  &:hover [nz-icon] {
    transform: translateX(4px);
  }

  [nz-icon] {
    transition: transform 0.3s ease-in-out;
  }
}