<p nz-typography>
  <b>{{ "Tools" | translate }}: </b>
  @for (tool of project.tools; track $index; let isLast = $last) {
  {{ tool + (isLast ? "." : ", ") }}
  }
</p>

<p nz-typography class="app-text-justify app-no-space">
  <b>{{ "Description" | translate }}: </b>
  {{ project.description }}
</p>
