<nz-layout>
  <nz-header nz-row nzJustify="space-between" nzAlign="middle">
    <ng-container *ngTemplateOutlet="logo"></ng-container>

    <div nz-row>
      <div nz-col nzXs="0" nzMd="24">
        <ng-container
          [ngTemplateOutlet]="navLinks"
          [ngTemplateOutletContext]="{ $implicit: 'horizontal' }"
        ></ng-container>
      </div>

      <div nz-col nzXs="24" nzMd="0">
        <button
          nz-button
          nzType="text"
          nzShape="circle"
          (click)="sideMenu.open()"
        >
          <span
            nz-icon
            [nzType]="sideMenu.isOpen ? 'menu-fold' : 'menu-unfold'"
          ></span>
        </button>
      </div>
    </div>
  </nz-header>

  <nz-content [@routeName]="getRouteName(outlet)">
    <router-outlet #outlet="outlet"></router-outlet>
  </nz-content>
</nz-layout>

<ng-template #logo>
  <a routerLink="/" class="app-middle" [style.color]="'var(--app-text-color)'">
    <img alt="website-logo" height="35px" src="./assets/logo.png" />
    <span class="app-text-lg app-padding-left-sm">
      {{ "_appTitle" | translate }}
    </span>
  </a>
</ng-template>

<ng-template #navLinks let-nzMode>
  <ul nz-menu [class]="nzMode" [nzMode]="nzMode" [nzSelectable]="false">
    @for (menuItem of menuItems; track menuItem.link) {
    <li nz-menu-item [nzMatchRouter]="true">
      <a
        [routerLink]="menuItem.link"
        routerLinkActive="link-active"
        ariaCurrentWhenActive="page"
        (click)="sideMenu.close()"
      >
        @if (nzMode === "inline") {
        {{ menuItem.label | translate }}
        } @else {
        {{ menuItem.label | translate | uppercase }}
        }
      </a>
    </li>
    }
    <li
      nz-menu-item
      class="theme-mode"
      [class.app-no-space-left]="nzMode === 'horizontal'"
      (click)="sideMenu.close(); toggleTheme()"
    >
      <fa-icon
        nz-icon
        [style.display]="'inline-flex'"
        [icon]="['fas', 'circle-half-stroke']"
      ></fa-icon>
      @if (nzMode === "inline") {
      {{ (this.theme === "default" ? "Dark mode" : "Light mode") | translate }}
      }
    </li>
    <li nz-submenu nzPlacement="bottomCenter">
      <div title>
        <span nz-icon nzType="global"></span>
        @if (nzMode === "inline") {
        <span>{{ "Language" | translate }}</span>
        }
      </div>

      <ul (click)="sideMenu.close()">
        <li
          nz-menu-item
          [nzSelected]="lang === 'en'"
          (click)="onChangeLanguage('en')"
        >
          English
        </li>
        <li
          nz-menu-item
          [nzSelected]="lang === 'pl'"
          (click)="onChangeLanguage('pl')"
        >
          {{ "Polish" | translate }}
        </li>
      </ul>
    </li>
  </ul>
</ng-template>

<ng-template #sideMenuTitle>
  <div
    nz-row
    nzJustify="space-between"
    nzAlign="middle"
    [style.cursor]="'pointer'"
    (click)="sideMenu.close()"
  >
    <ng-container *ngTemplateOutlet="logo"></ng-container>

    <button nz-button nzType="text" nzShape="circle">
      <span nz-icon nzType="close"></span>
    </button>
  </div>
</ng-template>

<nz-drawer
  #sideMenu
  nzPlacement="left"
  [nzClosable]="false"
  [nzTitle]="sideMenuTitle"
  (nzOnClose)="sideMenu.close()"
>
  <ng-container
    *nzDrawerContent
    [ngTemplateOutlet]="navLinks"
    [ngTemplateOutletContext]="{ $implicit: 'inline' }"
  ></ng-container>
</nz-drawer>
