::ng-deep {
  [nz-menu] {
    border: 0 !important;

    &.inline {
      [nz-submenu] *:has([title]) {
        display: block !important; // Fix the submenu being right.
        
        * {
          color: var(--app-text-color) !important;
        }
      }

      .theme-mode {
        background-color: transparent !important;
        color: var(--app-text-color);
      }
    }
  }
}

nz-layout {
  width: var(--app-width-body);
  margin: auto;
  
  nz-content {
    padding-top: 64px + 120px;
  }
  
  nz-header {
    position: fixed;
    width: var(--app-width-body);
    z-index: 1;
    top: 0; // Fix for nz-carousel overlay.
    font-weight: 500;

    * {
      color: var(--app-text-color);

      &::after {
        border: 0 !important;
      }
    }

    [nz-menu-item] {
      margin: 0 20px;

      a {
        &:before {
          content: '';
          position: absolute;
          top: 115%;
          height: 0px;
          background-color: var(--app-text-color);
          left: 50%;
          right: 50%;
          transition: all 0.5s cubic-bezier(0.25, 1, 0.33, 1);
          display: block;
        }
    
        &:hover:before, &.link-active:before {
          right: 0;
          left: 0;
          height: 1px;
        }
      }
    }
  }
}
