@switch (currentView) { @case ("confirm") {
<div nz-row [nzGutter]="[16, 16]">
  <div nz-col nzFlex="initial">
    <span nz-typography nzType="warning">
      <span nz-icon nzType="question-circle" nzTheme="outline"></span>
    </span>
  </div>
  <div nz-col nzFlex="1">
    <h5 nz-typography>{{ "Confirm" | translate }}</h5>
    <p nz-typography>{{ confirmMsg! | translate }}</p>
  </div>
</div>
<div nz-row nzJustify="end" [nzGutter]="[16, 16]">
  <div nz-col nzFlex="initial">
    <button nz-button (click)="onCancel()">
      {{ "Cancel" | translate }}
    </button>
  </div>
  <div nz-col nzFlex="initial">
    <button nz-button nzType="primary" (click)="onConfirm()">
      {{ "Yes" | translate }}
    </button>
  </div>
</div>
} @case ("processing") {
<div nz-row nzAlign="middle" nzJustify="center" [nzGutter]="[16, 16]">
  <div nz-col nzFlex="initial">
    <span nz-icon [nzType]="'loading'"></span>
  </div>
  <div nz-col nzFlex="initial">
    <div nz-typography class="app-text-lg app-no-space">
      {{ processingMsg | translate }}
    </div>
  </div>
</div>
} @case ("error") {
<div nz-row [nzGutter]="[16, 16]">
  <div nz-col nzFlex="initial">
    <span nz-typography nzType="danger">
      <span nz-icon nzType="close-circle" nzTheme="outline"></span>
    </span>
  </div>
  <div nz-col nzFlex="1">
    <h5 nz-typography>{{ "Error" | translate }}</h5>
    <p nz-typography class="app-text-white-space">
      {{ errorMsg! | translate }}
    </p>
  </div>
</div>
<div nz-row nzJustify="end" [nzGutter]="[16, 16]">
  <div nz-col nzFlex="initial">
    <button nz-button (click)="onCancel()">
      {{ "Cancel" | translate }}
    </button>
  </div>
</div>
} }
