<h1 nz-typography class="app-text-center">
  {{ "_jobTitle" | translate }}
</h1>

<p nz-typography nzType="secondary" class="app-text-lg app-text-center">
  {{ "_pageHomeIntro" | translate }}
</p>

<div nz-row [nzGutter]="[16, 16]">
  <div nz-col nzXs="24" nzMd="14">
    <h5 nz-typography>
      {{ "_profileTitle" | translate }}
    </h5>

    <p nz-typography class="app-text-justify">
      {{ "_profileInto" | translate }}
    </p>
  </div>

  <div nz-col nzXs="24" nzMd="10" class="app-middle">
    <a
      nz-button
      nzType="primary"
      nzShape="round"
      nzSize="large"
      routerLink="/projects"
      ariaCurrentWhenActive="page"
    >
      {{ "View my projects" | translate }}
      <span nz-icon nzType="arrow-right" class="app-animate-btn-icon"></span>
    </a>
  </div>

  <div nz-col nzXs="24">
    <a
      nz-button
      nzType="text"
      nzShape="circle"
      nzSize="large"
      target="_blank"
      [href]="environment.linkedinUrl"
    >
      <span nz-icon nzType="linkedin" nzTheme="outline"></span>
    </a>
    <a
      nz-button
      nzType="text"
      nzShape="circle"
      nzSize="large"
      target="_blank"
      [href]="environment.repoUrl"
    >
      <span nz-icon nzType="github" nzTheme="outline"></span>
    </a>
  </div>
</div>
