@import "mixin";

.themeMixin({
  :host {
    display: flex;
    flex-direction: column;
    align-items: center;
  
    & > div {
      max-width: 1000px;
      padding-top: 120px;
    
      @media (max-width: @screen-md) {
        padding-top: 60px;
  
        * {
          text-align: center;
        }
      }
    }
  }
});
