:host ::ng-deep {
  .ant-card-body {
    flex: 1; // Move card buttons to the card bottom.
  }
}

nz-tabset {
  margin-top: 70px;

  nz-card {
    height: 100%;
    display: flex;
    flex-direction: column;
  }
}
