<h1 nz-typography>
  {{ "_pageProjectTitle" | translate }}
</h1>

<p nz-typography class="app-text-white-space app-text-justify">
  <span>{{ "_pageProjectIntro" | translate }}</span>
</p>

<a
  nz-button
  nzType="text"
  nzShape="circle"
  nzSize="large"
  target="_blank"
  [href]="environment.linkedinUrl"
>
  <span nz-icon nzType="linkedin" nzTheme="outline"></span>
</a>

<nz-tabset>
  @for (category of projectCategories; track category.id) {
  <nz-tab [nzTitle]="category.title | translate">
    <div nz-row [nzGutter]="[32, 32]">
      @for (project of projects; track project.id) { @if (category.id === 'all'
      || project.categoryIds.includes(category.id)) {
      <div nz-col nzXs="24" nzMd="12" nzLg="8">
        <nz-card
          nzBorderless
          [nzCover]="cardThumbnail"
          [nzActions]="
            project.repoUrl
              ? [cardActionCode, cardActionLearnMore]
              : [cardActionLearnMore]
          "
        >
          <nz-card-meta
            [nzTitle]="cardTitle"
            [nzDescription]="cardDescription"
          ></nz-card-meta>
        </nz-card>

        <ng-template #cardTitle>
          {{ project.title }}
          <div
            nz-typography
            nzType="secondary"
            class="app-no-space app-text-xss"
          >
            {{ getCardSubTitle(project) | async }}
          </div>
        </ng-template>

        <ng-template #cardDescription>
          <div nz-typography class="app-text-justify app-no-space">
            {{ project.intro }}
          </div>
        </ng-template>

        <ng-template #cardActionCode>
          <a target="_blank" [href]="project.repoUrl">
            <span nz-icon nzType="github"></span>
            {{ "Code" | translate }}
          </a>
        </ng-template>

        <ng-template #cardActionLearnMore>
          <div (click)="onOpenLearnMore(project)">
            {{ "Learn more" | translate }}
          </div>
        </ng-template>

        <ng-template #cardThumbnail>
          <app-carousel-img
            [imageUrls]="project.images"
            [noPreview]="project.imgNoPreview"
          ></app-carousel-img>
        </ng-template>
      </div>
      } }
    </div>
  </nz-tab>
  }
</nz-tabset>
