<nz-image-group>
  <nz-carousel
    #carousel
    [nzEnableSwipe]="false"
    [nzDots]="false"
    [class.no-preview]="noPreview"
  >
    @for (imageUrl of imageUrls; track imageUrl) {
    <div nz-carousel-content>
      <img
        nz-image
        [alt]="imageUrl"
        [nzDisablePreview]="noPreview"
        [nzSrc]="imageUrl"
      />
    </div>
    }
  </nz-carousel>
</nz-image-group>

<div
  nz-row
  nzJustify="space-between"
  nzAlign="middle"
  class="app-padding-horizontal app-padding-top-xs"
>
  <button nz-button nzShape="circle" nzType="text" (click)="carousel.pre()">
    <span nz-icon nzType="left"></span>
  </button>
  <div>
    @for (imageUrl of imageUrls; track imageUrl; let i = $index) {
    <span
      nz-typography
      class="app-text-lg"
      [class.dot-active]="carousel.activeIndex === i"
    >
      •
    </span>
    }
  </div>
  <button nz-button nzShape="circle" nzType="text" (click)="carousel.next()">
    <span nz-icon nzType="right"></span>
  </button>
</div>
