.dot-active {
  color: var(--app-primary-color);
}

nz-carousel {
  height: 250px;
  cursor: pointer;

  &.no-preview {
    cursor: default;
  }

  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: top;
  }
}